body {
    display: flex;
    background-image: url('../img/login-bg-DH.jpeg');
    width: 100vw;
    height: 100vh;
}
body main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
body main h1{
    display: flex;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    width: 40vw;
}
body main div{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items:stretch;
    background-color: white;
    border-radius: 1rem;
    margin: 3rem;
    padding: .5rem;
}
body main div img#logoDH{
    display: flex;
    align-self: center;
    padding:.4rem;
    width: 30vw;
}
body main div a img{
    display: flex;
    align-self: center;
    width: 27vw;
}
body main div a.volver{
    display: flex;
    text-decoration: none;
    background-color: #d53f25;
    border-radius: .4rem;
    margin: .2rem;
    padding: .5rem;
    color: white;
    align-self: center;
}
body main div a.volver:hover{
    background-color:#b2250d;
}
body main div a.digitalHouse{
    display: flex;
    margin: .5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding: .4rem;
    align-self: center;
    width: 25vw;
}
body main div nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    margin: .5rem;
}
body main div nav a{
    display: flex;
    text-decoration: none;
    color: #4349b5;
}
body main div form{
    display: flex;
    flex-direction: column;
}
body main div form fieldset{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    margin-top: 0rem;
}
body main div form fieldset a#olvidasteTuContrasenia{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #4349b5;
    margin-top: .4rem;
}
body main div form fieldset.buttonFieldset{
    margin-bottom: 0;
}
body main div form fieldset #login-title{
    display: flex;
    color: #303030;
    text-decoration: underline #d53f25;
    font-size: 1.5rem;
}
body main div form fieldset h4{
    display: flex;
    color: #303030;
    margin: .5rem;
    margin-bottom: .3rem;
    font-size: 1rem;
}
body main div form fieldset p.feedback{
    display: flex;
    color: #d53f25;
    margin: .3rem;
}
body main div form fieldset input{
    display: flex;
    border: 1px solid #d9d9d9;
    border-radius: .4rem;
    padding: .5rem;
}
body main div form fieldset button{
    display: flex;
    background-color: #4349b5;
    font-size: 1rem;
    justify-content: center;
    color: white;
    margin: .5rem;
    padding: .7rem;
    border-radius: .4rem;
}
body main div form fieldset button:hover{
    background-color: #1B207B;
}