<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <main>
        <h1>Home</h1>
        <% if (!user) { %>
            <h2>Bienvenido invitado</h2>
            <nav>
                <a href="/users/login">Login</a>
                <a href="/users/register">Registro</a>
            </nav>
        <% } else { %>
            <h2>Bienvenido <%= user.name%></h2>
            <nav>
                <a href="/users/logout">Logout</a>
            </nav>
            <% if (user.rol == 1) { %>
                <a href="/add">Agrega una pelicula</a>
            <% } %>
        <% } %>
        <h3>Listado de Peliculas:</h3>
        <ul>
            <% for( let i = 0; i < movies.length; i++ ) { %>
            <li>
                <a href="/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
            </li>
            <% } %>
        </ul>
    </main>
</body>

</html>