<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <form action="/users/login" method="POST">
            <fieldset>
                <legend>
                    <h2>Login</h2>
                </legend>
                <legend>Email</legend>
                <% if (locals.errors && locals.errors.email) {%>
                    <p>
                        <%= locals.errors.email.msg %>
                    </p>
                <% } %>
                <input type="email" name="email" id="email"
                    value="<%= locals.errors && !locals.errors.email && locals.data.email ? locals.data.email : null %>"
                >
                <legend>Contraseña</legend>
                <% if (locals.errors && locals.errors.password) {%>
                    <p>
                        <%= locals.errors.password.msg %>
                    </p>
                <% } %>
                <input type="password" name="password" id="password"
                    value="<%= locals.errors && !locals.errors.password && locals.data.password ? locals.data.password : null %>"
                    >
            </fieldset>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
        </form>
        <a href="/">Volver</a>
    </main>
</body>
</html>