<footer>
    <section>
        <p>Made with <i class="fa-solid fa-heart"></i></p>
        <a href="https://www.digitalhouse.com/ar" class="digitalHouse-link"><img src="../img/digitalHouse.svg" alt="DigitalHouse"></a>
    </section>
    <section>
        <p>Argentina 2022 - Todos los derechos reservados</p>
    </section>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="terminosYCondiciones">Terminos y Condiciones</a>
</footer>